.header {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header-left {
    flex: 1;
    margin-bottom: 150px;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: left;
    margin-bottom: 250px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
}

.inicio {
    margin-right: 20rem;
    text-align: right;
    font-style: italic;
    font-size: 1.5rem;
    color: #025e75;
}

h5 {
    margin-bottom: 2rem;
    margin-left: -1rem;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

/* ==================== CTA =============== */
.cta {
    margin-top: 4rem;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}

/* ==================== HEADER SOCIALS =============== */
.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    right: 21%;
    bottom: 0rem;
    font-size: 40px;
    margin-bottom: 3.5em;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials::before {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ==================== ME =============== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    max-width: 17rem;
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 5rem 0rem 0 0;
    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 5rem 0rem 9rem 0;
    -moz-border-radius: 5rem 0rem 0 0;
    -ms-border-radius: 5rem 0rem 0 0;
    -o-border-radius: 5rem 0rem 0 0;

}


img {
    max-width: 100%;
    height: auto;
    border-radius: 9rem 0rem 9rem 0;
}



/* ==================== BAJAR =============== */

.scroll__down {
    position: relative;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 15rem;
    margin-left: 7rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-decoration: underline;
}

/* ====================== RESPONSIVE TABLETS ======================*/

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* ====================== RESPONSIVE CELULRES ======================*/

@media screen and (max-width: 550px) {
    header {
        height: 150vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}

p {
    margin: 1rem 2em 2rem 2em;
    color: var(--color-light);
    text-align: justify;
    padding: 1rem;
    border-radius: 3rem 3rem 3rem 3rem;
    -webkit-border-radius: 3rem 3rem 3rem 3rem;
    -moz-border-radius: 3rem 3rem 3rem 3rem;
    -ms-border-radius: 3rem 3rem 3rem 3rem;
    -o-border-radius: 3rem 3rem 3rem 3rem;
    box-shadow: 0px 0px 5px 5px rgba(253, 253, 253, 0.2);
}